body{
  font-family: 'Source Code Pro', monospace;
  height: 100%;
  color:rgb(116, 113, 113);
}
.material-icons{
  font-size: 14px
}
.fa-code{
  font-weight: 700;
}
.material-icons{
  font-size: 24px
}
.fa-facebook{
  color:#3b5998;
}
.fa-twitter{
  color:#1da1f2;
}
.pagination{
  border: 2px solid #eee;
  line-height:0px
}
.pagination:active{
  background-color:#663399;
  color:#fff;
}
.active{
  background-color: #663399;
  color:#fff;
}
.noactive{
  text-decoration: none;
}
.active_a{
  color: #fff;
  text-decoration: none
}

.col-md-5{
  width:48%;
  float: left;
  font-size: 15px;
  padding:10px;
  color: rgb(116, 113, 113);
}
@media all and (max-width:650px){
  .col-md-5{ 
    width: 100%;        
  }
}
.col-md-5 a{
  text-decoration: underline;
  cursor: pointer;
}
.trending_repo{
  text-align: right
}
.nav_bar{
  font-weight: 700;
  color:rgb(116, 113, 113)	
}
.footer{
  position:absolute;
  bottom:0;
  width:100%;
}
.md-title{
  color:rgb(116, 113, 113)
}
.md-title{
  color: rgb(116, 113, 113);
  text-decoration: none;
  font-weight: 700;
}
.meta_data{
  margin:0px;
  color: rgb(116, 113, 113);
  font-size: 14px;
}
.meta_data a{
  color: rgb(116, 113, 113);
}
.box-body-left a{
  color: rgb(116, 113, 113);
}
.not_found_message{
  padding: 20px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: rgb(116, 113, 113);
}
.layout-tiles img{
  margin-top: 4px;
  border: 2px solid #eee;
}
md-card md-card-header md-card-avatar{
  width:60px;
}
.box-body-right{
  font-size: 14px;
  margin-top: -7px;
  color: rgb(116, 113, 113);
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.box-body-left{
  padding: 0px;
  list-style-type: none;
  color: rgb(116, 113, 113);
}
.box-body-left li{
  float: left;
  padding: 0px 8px;
}
md-card{
  margin: 0px 0px 8px 0px;
}
.md-title a{
  text-decoration: underline;
  color:#010101;
}
.load-more{
  background-color: rgb(116, 113, 113);
  border-radius: 0px;
  padding: 0px 20px;
  color: #fff;
  border: 3px solid #666464;
}
.load-more:hover{
  color: #666464;  
}
.md-2-line i{
  margin-top: 22px;
  padding-right: 10px;
}
md-list{
      height: 40px;
}
.material-icons span{
  color: rgb(116, 113, 113)
}
md-card{
  border-radius:0px;
}
.md-toolbar-tools h2{
  font-family: 'Montserrat', sans-serif;
}
.home-title h2, .home-title h4{
    color: rgb(197, 194, 194);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}
.home-title h2{
    font-size: 50px;
    margin-bottom: 0px
}
.home-title h4{
    font-size: 20px;
    margin-top: 0px
}
.search_section{
    background-color: #22313f;
    background-image: url('../img/axiom-pattern.png');
}

.md-button{
    border-radius: 0px;
    padding: 0px 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: #777;
    background-color: #fff
}
.home-title a:hover{
    color: #777;
    background-color: #fff  
}
.keywordInput{
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: #fff;
  width: 100%;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  border-radius: 2px;
}
.home-col h1{
font-size: 35px;
color: rgba(0, 0, 0, 0.72);
font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
text-align: center;
padding: 20px
}
.home-col img{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.author_img{
  width:7.1%  
}
.home-col{
  background-color: #fff;
}
.titl{
  border-bottom: 6px solid;
}
.author_meta{
  text-align: center;
  margin-top: -6px;
    background-color: #eee;
    padding-top: 10px;
}